Phase 2_ Question Answering & Evaluation.json
{
  "name": "Phase 2: Question Answering & Evaluation",
  "nodes": [
    {
      "parameters": {
        "topK": 6
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -416,
        80
      ],
      "id": "34dcf48e-e610-462f-b089-f2fd62595b78",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "globaledge-rag",
          "mode": "list",
          "cachedResultName": "globaledge-rag"
        },
        "prompt": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -16,
        -32
      ],
      "id": "266eb60d-00e7-4dbc-af7e-bcfbdd7c5240",
      "name": "Retrieve Chunks for Eval",
      "credentials": {
        "pineconeApi": {
          "id": "MacUSoeaKEvskiAp",
          "name": "PineconeApi account 791"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "subtitle": "Ask me about stocks, news, crypto, and SEC filings",
          "title": "GlobalEdge Market Intelligence"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -816,
        -112
      ],
      "id": "88343fe3-581c-4295-bde3-260a6f8555dd",
      "name": "Chat Trigger",
      "webhookId": "dfe91e71-f854-4922-bd55-5025b4a522c2"
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "You are GlobalEdge, an expert financial market intelligence assistant for equity brokers.\n\nUse ONLY the context below to answer the question. The context contains financial news articles, stock price data, and SEC regulatory filings.\n\nGuidelines:\n- Be specific and cite data points (prices, dates, sources) when available\n- Flag risks and regulatory disclosures from SEC filings when relevant\n- Distinguish between news sentiment and actual price movement\n- If the context is insufficient, say so clearly - do not hallucinate\n- Structure your answer: Signal, Supporting Data, Risks/Caveats\n\nContext:\n{context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -432,
        -304
      ],
      "id": "0270780b-6a75-4ae6-baf5-b2b5670cc47e",
      "name": "Q&A Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1000,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -592,
        112
      ],
      "id": "c246e39a-ad4a-4ffa-a386-4892626ee4e8",
      "name": "OpenAI GPT-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "JklUB02AKX2A1PiF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "globaledge-rag",
          "mode": "list",
          "cachedResultName": "globaledge-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -336,
        224
      ],
      "id": "93e6b22d-bea3-4cc2-82af-83619f0438b8",
      "name": "Pinecone Retriever Store",
      "credentials": {
        "pineconeApi": {
          "id": "MacUSoeaKEvskiAp",
          "name": "PineconeApi account 791"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        368
      ],
      "id": "0778c8f5-89a8-4ce8-8051-ed2f55e7d706",
      "name": "OpenAI Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "JklUB02AKX2A1PiF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        -208
      ],
      "id": "74b42e29-3fd7-4ee7-9d72-61a250c41bc8",
      "name": "Merge Answer and Chunks"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert RAG evaluation judge. Return ONLY a valid JSON object:\n{\n  \"relevance_score\": <1-5>,\n  \"groundedness_score\": <1-5>,\n  \"completeness_score\": <1-5>,\n  \"overall_score\": <1-5>,\n  \"verdict\": \"PASS\" or \"FAIL\",\n  \"evaluator_notes\": \"<brief explanation>\"\n}\n\nrelevance_score: Does the answer address the user query?\ngroundedness_score: Is every claim backed by the retrieved context?\ncompleteness_score: Does the answer cover all key aspects?\noverall_score: Holistic quality score\nverdict: PASS if overall_score >= 3, else FAIL"
            },
            {
              "content": "=User Query: {{ $(\"Chat Trigger\").item.json.chatInput }}\n\nGenerated Answer: {{ $(\"Q&A Chain\").item.json.response }}\n\nRetrieved Context: {{ $(\"Retrieve Chunks for Eval\").item.json.document?.pageContent ?? \"No context retrieved\" }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        736,
        -240
      ],
      "id": "7dc8eb43-4ea1-4f32-ba2b-96c7cab9d6bc",
      "name": "LLM Evaluator",
      "credentials": {
        "openAiApi": {
          "id": "JklUB02AKX2A1PiF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60878686-fdbb-4c02-a239-39381459f6ba",
              "name": "user_query",
              "value": "={{ $(\"Chat Trigger\").item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "7cc3c817-dc1c-4ee1-bc23-d8dcbeeea123",
              "name": "generated_answer",
              "value": "={{ $(\"Q&A Chain\").item.json.response }}",
              "type": "string"
            },
            {
              "id": "fa8bff7f-2e8e-4a8b-a475-844ac83f1dc6",
              "name": "relevance_score",
              "value": "={{ JSON.parse($json.output[0].content[0].text).relevance_score }}",
              "type": "string"
            },
            {
              "id": "79408611-fba6-4781-883b-f0af68f9018f",
              "name": "groundedness_score",
              "value": "={{ JSON.parse($json.output[0].content[0].text).groundedness_score }}",
              "type": "string"
            },
            {
              "id": "b9d7e2fb-7000-4012-8a17-0d1e767333cc",
              "name": "completeness_score",
              "value": "={{ JSON.parse($json.output[0].content[0].text).completeness_score }}",
              "type": "string"
            },
            {
              "id": "46106340-52cd-4527-ad35-2e2e1e8928b2",
              "name": "overall_score",
              "value": "={{ JSON.parse($json.output[0].content[0].text).overall_score }}",
              "type": "string"
            },
            {
              "id": "f03a234b-7026-41f3-89e5-0d645865fcea",
              "name": "verdict",
              "value": "={{ JSON.parse($json.output[0].content[0].text).verdict }}",
              "type": "string"
            },
            {
              "id": "e1c54142-7886-45ce-95ed-f2a9346e5510",
              "name": "evaluator_notes",
              "value": "={{ JSON.parse($json.output[0].content[0].text).evaluator_notes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -208
      ],
      "id": "898ccde6-8d0b-40f8-a2a1-e61d06e58010",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        304
      ],
      "id": "b45a1aad-0667-4be2-b64a-f51c2022e261",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "TKbM0sZONePXmRUI",
          "mode": "list",
          "cachedResultName": "Eval Data Table",
          "cachedResultUrl": "/projects/fef83edc-e68d-4de9-9bd0-d26df10ad25b/datatables/TKbM0sZONePXmRUI"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_query": "={{ $json.user_query }}",
            "generated_answer": "={{ $json.generated_answer }}",
            "relevance_score": "={{ $json.relevance_score }}",
            "groundedness_score": "={{ $json.groundedness_score }}",
            "completeness_score": "={{ $json.completeness_score }}",
            "overall_score": "={{ $json.overall_score }}",
            "verdict": "={{ $json.verdict }}",
            "evaluator_notes": "={{ $json.evaluator_notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_query",
              "displayName": "user_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generated_answer",
              "displayName": "generated_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "relevance_score",
              "displayName": "relevance_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness_score",
              "displayName": "groundedness_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completeness_score",
              "displayName": "completeness_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "overall_score",
              "displayName": "overall_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "evaluator_notes",
              "displayName": "evaluator_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1312,
        -208
      ],
      "id": "dce1f505-dd3a-45c7-b5c2-fc2320a9efd5",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Q&A Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Chunks for Eval": {
      "main": [
        [
          {
            "node": "Merge Answer and Chunks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Q&A Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve Chunks for Eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Q&A Chain": {
      "main": [
        [
          {
            "node": "Merge Answer and Chunks",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Q&A Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retriever Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Retriever Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve Chunks for Eval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Merge Answer and Chunks": {
      "main": [
        [
          {
            "node": "LLM Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Evaluator": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dcbe329f-5251-4510-bdf9-5b670c8ddc25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9eec91ab028da3044b893ad93da376fcd67c0d37224cdead88c7c3ba95ce47dc"
  },
  "id": "b4-LmxnNGbbEUEuu9yNIs",
  "tags": []
}